.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
  margin: 0 auto;

  @media screen and (min-width: 1158px) {
    padding: 100px 0;
  }
}

.page-footer .container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    padding: 0 108px;
  }

  @media screen and (max-width: 1157px) {
    gap: 72px 24px;
  }
}

.page-footer .text {
  color: #f4f4fd;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-logo-text-conteiner {
  height: 112px;

  @media screen and (min-width: 768px) {
    width: 264px;
  }
  @media screen and (min-width: 1158px) {
    margin-right: 120px;
  }
}

.footer-social-conteiner {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 1158px) {
    margin-right: auto;
  }
}

.text-footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.footer-social-links:hover,
.footer-social-links:focus {
  background-color: #31d0aa;
}

.footer-icons {
  fill: var(--icon-color);
}

.page-footer .footer-list-link {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-list-link-items {
  width: 40px;
  height: 40px;
}

.footer-form-conteiner {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) and (max-width: 1157px) {
    width: 100%;
  }
}
.text-footer-form {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 24px;
  }
}

.footer-form-label {
  display: flex;
  width: 100%;
  gap: 24px;
}

.footer-form-input {
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  width: 100%;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  &::placeholder {
    color: #ffffff;
  }

  &:hover,
  &:focus {
    border-color: #31d0aa;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.button-subscribe {
  display: flex;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.button-subscribe-icon {
  margin-left: 16px;
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #31d0aa;
}
